<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="ProjectBaseDirectory" value="EriBankSeeTestProj"/>
    <add key="ReporterFolder" value="C:\\SeeTestReports"/>
    <add key ="AppName" value="EriBank"/>
    <add key ="DevLaunchingAppName" value="com.eribank.develop"/>
    <add key ="OS" value ="iOS"/>
    <add key ="Port" value ="8889"/>
    <add key ="IsParallelTestExecution" value ="false"/>
    <add key="SeeTestDeviceName" value="ios_app:iPad11"/>
    <add key="SeeTestDevice2" value="ios_app:Kiran"/>
    <add key ="Host" value="localhost"/>
    <add key ="DeviceName" value="Lab13_Ipad"/>
    <add key ="ConnectedOver" value ="USB"/>
    <add key ="Version" value ="8.1.2"/>
    <add key ="SmallWaitTime" value="3000"/>
    <add key ="MediumWaitTime" value="5000"/>
    <add key ="LargeWaitTime" value="30000"/>
    <add key ="WaitTimeMultiplier" value="1"/>
    <add key="SetShowPassImageInReport" value="false"/>
    <add key="UnitTestExecution" value="true"/>
    <add key ="ReportFolderPerRun" value="true"/>
    <add key ="MonitorCPUAndMemory" value="true"/>
    <add key="CaptureDeviceLog" value="true"/>
    <add key ="DevelopLocalIpaFilePath" value="c:\LatestipaFiles\Eribank.ipa"/>
    <add key ="DevelopWebIpaFilePath" value="https://experitest.com/Eribank.ipa"/>    
  </appSettings>
</configuration>