<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="ProjectBaseDirectory" value="C:\\Users\\Ccsoc\\workspace\\project2"/>
    <add key="SeeTestDeviceName" value="IMEMobileQATeam’s iPad"/>
    <add key ="Host" value="localhost"/>
    <add key ="SmallWaitTime" value="10000"/>
    <add key ="MediumWaitTime" value="20000"/>
    <add key ="LargeWaitTime" value="30000"/>
    <add key ="WaitTimeMultiplier" value="1"/>
  </appSettings>  
</configuration>